<!DOCTYPE html>
{% load static %]
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
	<title>Rosti</title>
	
	<style>
body {
    background-color: tomato;
}

h2 {
    color: blue;
    text-align: center;
}
h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
</style>
</head>
<body>
<div class="container-fluid">
	{% include 'app_tarea_1/menu.html' %}
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h1>Rosti Restaurant</h1>
			</div>
		</div>
	</div>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
<div class="navbar-nav">
    <div class="navbar-nav">
<center>
<p><br> [Imagenes del Restaurant y sus sandwiches.]</p>
</nav>
<br><br>
<div class="row"> 
<h1>Menu</h1>
<br><br>
<p>[Carta interactiva del menu]</p>
<br><br>
<h1>Ubicacion y Contacto.</h1>
<br><br>
<div class="row">
  <div class="col-sm-9">
    Level 1: .col-sm-9
    <div class="row">
      <div class="col-xs-8 col-sm-6">
        [Ubicación]
      </div>
      <div class="col-xs-4 col-sm-6">
        [Reservas de mesa y contacto]
      </div>
    </div>
  </div>
</div>
<br><br>
<h1>Galeria de Imagenes</h1>
<br><br>
<p> [Imagenes de eventos realizados y Clientes en el Restaurant]</p>
<br><br><br><br><br><br><br><br><br>


			
</body>
</html>